<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopCV - Create Your Professional CV</title>
    <link rel="stylesheet" href="/css/index.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet"  href="/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header class="main-header">
    <div class="container">
      <div class="left-section">

        
        <a href="/home"><img class="logo" src="/images/logo.jpg" alt="Logo" ></a>

        <nav class="main-nav">
          <a href="#">Cơ hội việc làm</a>
          <div class="dropdown">
            <a href="#">Công cụ ▼</a>
            <!-- dropdown nội dung nếu cần -->
          </div>
          <a href="#">Cẩm nang nghề nghiệp</a>
          <div class="dropdown">
            <a href="#">Miền Nam ▼</a>
          </div>
        </nav>
      </div>

      <div class="right-section">

        <div th:if="${session.account == null}">
          <a href="/login" class="login-link">Đăng ký/Đăng nhập</a>
        </div>
        <div th:if="${session.account != null}">
          <span th:text="'Xin chào, ' + ${session.account.username}"></span>
          <a href="/logout" class="login-link">Đăng xuất</a>
        </div>

        <a href="#" class="employer-link">
          <i class="fa-solid fa-briefcase"></i>
          Nhà Tuyển Dụng
        </a>
      </div>

    </div>
  </header>

    <!-- Slide Show -->
  <div id="slide-show">
    <img src="/images/slide1.jpg" alt="Slide 1" class="active">
    <img src="/images/slide2.avif" alt="Slide 2">
    <img src="/images/slide3.webp" alt="Slide 3">
    <img src="/images/slide4.jpg" alt="Slide 4">
    <div id="slide-dots"></div>
  </div>

  <section id="filter-container">
      <div id="filter">
        <input id="position" type="text" placeholder="Vị trí ứng tuyển">
        <div class="dropdown">
            <a href="#">Lọc theo nghề nghiệp ▼</a>
        </div>
        <div class="dropdown">
            <a href="#">Lọc theo tỉnh thành ▼</a>
        </div>
        <button id="filter-button">Tìm việc</button>
      </div>

      <div id="job-icon">
        <ul class="job-icon-list">
          <li><img src="/images/icon/1.webp" alt=""><p>Bán sỉ - Bán lẻ - Quản lý cửa hàng</p></li>
          <li><img src="/images/icon/2.webp" alt=""><p>Bán hàng - Kinh doanh</p></li>
          <li><img src="/images/icon/3.webp" alt=""><p>Marketing</p></li>
          <li><img src="/images/icon/4.webp" alt=""><p>Khoa học - Kỹ thuật - IT</p></li>
          <li><img src="/images/icon/5.webp" alt=""><p>Kiểm toán</p></li>
          <li><img src="/images/icon/6.webp" alt=""><p>Hành chính - Thư ký</p></li>
          <li><img src="/images/icon/7.webp" alt=""><p>Kế toán</p></li>
          <li><img src="/images/icon/8.webp" alt=""><p>Sư phạm</p></li>
          <li><img src="/images/icon/9.webp" alt=""><p>Tất cả các ngành</p></li>
        </ul>
      </div>
  </section>


<section id="job-hot">
  <div class="container">
    <h2><i class="fa-solid fa-fire"></i> Việc làm tuyển gấp</h2>

    <div class="job-hot-tags">
      <button class="tag active">Tất cả</button>
      <button class="tag">Bán hàng - Kinh doanh</button>
      <button class="tag">Hành chính - Thư ký</button>
      <button class="tag">Chăm sóc khách hàng</button>
      <button class="tag">Bán sỉ - Bán lẻ - Quản lý cửa hàng</button>
      <button class="tag">Kế toán</button>
      <button class="tag">Nhân sự</button>
      <button class="tag">Khoa học - Kỹ thuật</button>
      <button class="tag">Thu mua - Chuỗi cung ứng</button>
    </div>

    <div class="job-listings">

      <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>

       <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
           <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
      <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
      <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
               <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
               <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
               <a href="jobDetail.html" class="job-card">
        <div class="job-title">Nhân Viên Bảo Trì Cơ Khí</div>
        <div class="job-company">Công Ty TNHH Cheng Loong Bình Dương Paper</div>
        <div class="group-1" style="display: flex; flex-direction: row; justify-content: space-between;">
          <img src="/images/logo-company.png" style="max-width: 100px; " alt="Icon 1">
          <div class="group-2">
            <div class="job-salary">💰 9.5 - 13 triệu</div>
            <div class="job-location">📍 Bình Dương</div>
          </div>
        </div>
        <div class="job-footer">
          <span>⏳ Còn 18 ngày</span>
          <i class="fa-regular fa-heart"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="featured-companies">
  <div class="section-header">
    <h2>🌟 Công ty nổi bật</h2>
    <a href="#" class="see-all">Xem tất cả →</a>
  </div>

  <div class="company-list">

    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>
    <a href="company.html" class="company-card">
      <img src="/images/logo-company.png" alt="Logo 1">
      <p>148 vị trí đang tuyển</p>
    </a>

  </div>
</section>

<section class="career-guide">
  <h2 class="guide-title">Cẩm nang nghề nghiệp</h2>
  <div class="guide-cards">
    <a href="/partTime" class="guide-card">
      <img src="/images/img-partime.png" alt="Guide 1">
      <h3>Nhân viên part time là gì?...</h3>
      <p>Nhân viên part time là gì? Nếu bạn đang...</p>
    </a>
    <a href="/remote"   class="guide-card">
      <img src="/images/img-remote.png" alt="Guide 2">
      <h3>Top 7 việc làm remote phổ biến...</h3>
      <p>Làm remote là gì và có lợi ích như thế nào?</p>
    </a>
    <a href="/jobb"  class="guide-card">
      <img src="/images/img-jobb.webp" alt="Guide 3">
      <h3>Top việc làm thêm ngoài giờ...</h3>
      <p>Cần lưu ý gì khi tìm việc làm thêm ngoài giờ?</p>
    </a>
  </div>
  <div class="guide-button">
    <a href="#" class="btn-purple">Xem thêm cẩm nang nghề nghiệp</a>
  </div>
</section>



    <footer>
      <section class="footer-container">
        <section class="About-me">
          <h2>Về chúng tôi</h2>
          <p>Top-cv - Website tuyển dụng việt làm</p>
          <p>TopCV là nền tảng tuyển dụng hàng đầu tại Việt Nam, giúp kết nối ứng viên với nhà tuyển dụng một cách nhanh chóng và hiệu quả.</p>
          <p>Chúng tôi cung cấp dịch vụ tạo CV chuyên nghiệp, giúp ứng viên nổi bật trong mắt nhà tuyển dụng.</p>
        </section>
        <section class="Infor">
          <h2>Thông tin</h2>
          <p>Cẩm nang nghề nghiệp</p>
          <p>Điều khoản dịch vụ</p>
          <p>Quy định bảo mật</p>
          <p>Sơ đồ trang web</p>
          <p>Chính sách dữ liệu cá nhân</p>

        </section>
        <section class="Contact">
            <h2>Liên hệ</h2>
            <p>Email:abc@gmail.com</p>  
            <p>Điện thoại: 0123456789</p>
        </section>
      </section>
        <p class="topcv">&copy; 2025 TopCV. All rights reserved.</p>
    </footer>

    <script src="/js/slideshow.js"></script> 
</body>
</html>