<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopCV - Create Your Professional CV</title>
    <link rel="stylesheet" href="/css/loginCompany.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet"  href="/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header class="main-header">
    <div class="container">
        <div class="left-section">


            <a href="/home"><img class="logo" src="/images/logo.png" alt="Logo" ></a>

            <nav class="main-nav">
                <a href="#">Cơ hội việc làm</a>
                <div class="dropdown">
                    <a href="#">Công cụ ▼</a>
                    <!-- dropdown nội dung nếu cần -->
                </div>
                <a href="#">Cẩm nang nghề nghiệp</a>
                <div class="dropdown">
                    <a href="#">Miền Nam ▼</a>
                </div>
            </nav>
        </div>

        <div class="right-section">
            <a href="/login" class="login-link">Đăng ký/Đăng nhập</a>
            <a href="#" class="employer-link">
                <i class="fa-solid fa-briefcase"></i>
                Nhà Tuyển Dụng
            </a>
        </div>

    </div>
</header>

<section class="section-login-company">
    <div class="company-info">
        <div class="text-content">
            <h1>Nơi gặp gỡ giữa doanh nghiệp<br>và 10 triệu ứng viên chất lượng</h1>
            <p>Tuyển dụng dễ dàng với Vieclam24h - Chúng tôi luôn đồng hành cùng bạn trong việc tìm kiếm ứng viên phù hợp.</p>
            <a href="/admin" class="btn-register">Đăng ngay!</a>
        </div>
        <div class="image-content">
        </div>
    </div>
    <div class="company-details">
        <h1 style="color: rgb(255, 102, 0);">Top-CV - website việc làm phổ biến nhất Việt Nam</h1>
        <h3>Năm vững vàng 20 năm kinh nghiệm trên thị trường</h3>
        <p><strong>Nền tảng uy tín hàng đầu</strong></p>
        <h4><a href="#">Tư vấn thêm tại đây</a></h4>
    </div>
</section>


<footer>
    <section class="footer-container">
        <section class="About-me">
            <h2>Về chúng tôi</h2>
            <p>Top-cv - Website tuyển dụng việt làm</p>
            <p>TopCV là nền tảng tuyển dụng hàng đầu tại Việt Nam, giúp kết nối ứng viên với nhà tuyển dụng một cách nhanh chóng và hiệu quả.</p>
            <p>Chúng tôi cung cấp dịch vụ tạo CV chuyên nghiệp, giúp ứng viên nổi bật trong mắt nhà tuyển dụng.</p>
        </section>
        <section class="Infor">
            <h2>Thông tin</h2>
            <p>Cẩm nang nghề nghiệp</p>
            <p>Điều khoản dịch vụ</p>
            <p>Quy định bảo mật</p>
            <p>Sơ đồ trang web</p>
            <p>Chính sách dữ liệu cá nhân</p>

        </section>
        <section class="Contact">
            <h2>Liên hệ</h2>
            <p>Email:abc@gmail.com</p>
            <p>Điện thoại: 0123456789</p>
        </section>
    </section>
    <p class="topcv">&copy; 2025 TopCV. All rights reserved.</p>
</footer>

<script src="/js/slideshow.js"></script>
</body>
</html>