<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopCV - Create Your Professional CV</title>
    <link rel="stylesheet" href="/css/index.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/css/partTime.css">
    <link rel="stylesheet"  href="/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header class="main-header">
    <div class="container">
      <div class="left-section">


          <a href="/home"><img class="logo" src="/images/logo.jpg" alt="Logo" ></a>

        <nav class="main-nav">
          <a href="#">Cơ hội việc làm</a>
          <div class="dropdown">
            <a href="#">Công cụ ▼</a>
            <!-- dropdown nội dung nếu cần -->
          </div>
          <a href="#">Cẩm nang nghề nghiệp</a>
          <div class="dropdown">
            <a href="#">Miền Nam ▼</a>
          </div>
        </nav>
      </div>

      <div class="right-section">
        <a href="login.html" class="login-link">Đăng ký/Đăng nhập</a>
        <a href="#" class="employer-link">
          <i class="fa-solid fa-briefcase"></i>
          Nhà Tuyển Dụng
        </a>
      </div>

    </div>
  </header>


<section class="section-part-time">
        <h1 class="title">Nhân viên part time là gì? 11 công việc part time lương cao đáng chờ bạn</h1>
        <div class="meta">
            Bối Thuyên Dang • 3 tháng trước • <a href="#">Chia sẻ bài viết này</a>
        </div>
        <p class="description">
            Nhân viên part time là gì? Nếu bạn đang quan tâm những vấn đề này thì bài viết dưới đây chắc chắn dành cho bạn!
        </p>
        <h2 class="section-title">MỤC LỤC</h2>
        <div class="content-box">
            <ul>
                <li>Nhân viên part time là gì?</li>
                <li>Mức lương tối thiểu là bao nhiêu?</li>
                <li>Cách tính lương nhân viên part time phổ biến hiện nay</li>
                <li>Các vị trí tuyển nhân viên part time phổ biến hiện nay</li>
                <li>1. Gia sư part time</li>
                <li>2. Công tác viên làm đồ thủ công</li>
                <li>3. Tài xế công nghệ</li>
                <li>4. Nhân viên bán hàng part time</li>
                <li>5. Nhân viên phục vụ part time</li>
                <li>6. Nhân viên nhập liệu part time</li>
                <li>7. Công tác viên viết bài</li>
                <li>8. Công tác viên thiết kế</li>
                <li>9. Nhân viên trực page</li>
                <li>10. Nhân viên telesales part time</li>
                <li>11. Nhân viên bảo vệ part time</li>
                <li>Kết luận</li>
            </ul>
        </div>
</section>

<section class="part-time-content">
        <div class="tag">PART-TIME TỪNG NGÀY</div>
        <h1>Nhân viên part time là gì?</h1>
        <img src="/images/img-content-parttime1.webp" alt="Person working on laptop">
        <h3>Nhân viên part time là gì? Mức lương tối thiểu là bao nhiêu?</h3>
        <p>
            Nhân viên part time là những người làm việc được trả lương theo giờ. Tính chất công việc thường đơn giản, không yêu cầu chuyên môn cao. Thời gian làm việc part time dựa vào nhu cầu của bạn và thỏa thuận giữa nguồn lao động và nguồn sử dụng lao động. Thay vì làm việc đủ 8 tiếng/ngày và 5 ngày/tuần, thời gian làm việc của nhân viên part time thường ngắn hơn.
        </p>

        <h1>Mức lương tối thiểu là bao nhiêu?  </h1>
        <p>
            Mức lương trung bình của nhân viên part time chịu ảnh hưởng theo quy định về mức lương tối thiểu vùng. Theo quy định tại Điều 3 Nghị định 38/2022/NĐ-CP: Mức lương tối thiểu ở các khu vực thuộc vùng I là 22.500 đồng/giờ, vùng II là 20.000 đồng/giờ, vùng III là 17.500 đồng/giờ và vùng IV là 15.600 đồng/giờ. Danh mục địa bàn vùng 1, vùng 2, vùng 3 và vùng 4 được quy định tại Phụ lục ban hành kèm theo Nghị định 38/2022/NĐ-CP. 
        </p>

        <h1>Cách tính lương nhân viên part time</h1>
        <img src="/images/img-content-parttime3.webp" alt="Person working on laptop">
        <ul>
            <li>Tính lương theo giờ: Mức lương sẽ được thỏa thuận giữa người sử dụng lao động và người lao động. Lấy tiền lương của một giờ làm việc nhân với thời gian làm việc sẽ cho ra lương theo giờ của người lao động.</li>
            <li>Tính lương theo ca: Mức tính lương làm việc theo ca có thể cao hơn mức tính lương theo giờ. Tùy vào tính chất công việc, mức tính lương sẽ được thỏa thuận khác nhau, người lao động sẽ lựa chọn số ca làm việc và thỏa thuận mức tính lương.</li>
            <li>Tính lương theo tháng: Người lao động phải đi làm đủ số buổi yêu cầu nếu muốn nhận lương theo tháng. </li>
            <li>Tính lương theo KPI: Người lao động phải hoàn thành KPI về số lượng sản phẩm được quy định trong ca làm việc để nhận được mức lương thỏa thuận ban đầu.</li>
        </ul>
        <p>Lưu ý: </p>
        <p>Một số ngành nghề thường yêu cầu làm việc đêm hoặc các ngày cuối tuần, ngày lễ. Lương làm việc trong những ngày này thường cao hơn tiền lương cơ bản, cụ thể như sau: </p>
        <ul>
            <li>Làm ca đêm: Nhân viên nhận thêm tối thiểu 30% tiền lương cơ bản của ngày làm việc đó.</li>
            <li>Làm thêm giờ: Nhân viên nhận được mức lương cao hơn 130% so với các ca hành chính.</li>
            <li>Tính lương theo tháng: Người lao động phải đi làm đủ số buổi yêu cầu nếu muốn nhận lương theo tháng. </li>
            <li>Làm vào ngày lễ, Tết: Nhân viên nhận được mức lương cao hơn 300% so với các ngày thông thường. </li>
        </ul>
        <p>“Người lao động hưởng lương theo sản phẩm, theo khoán được trả lương theo thỏa thuận của 02 bên; nếu công việc phải làm trong nhiều tháng thì hằng tháng được tạm ứng tiền lương theo khối lượng công việc đã làm trong tháng”.</p>

        <h1>Các vị trí tuyển nhân viên part time phổ biến hiện nay</h1>
        <h1>1. Gia sư part time</h1>
            <p>Gia sư part time là công việc được nhiều bạn sinh viên sư phạm hoặc ngoại ngữ ưa chuộng. Công việc tương đối nhẹ nhàng, thời gian dạy kèm thường là buổi tối, hình thức dạy online hay tại nhà còn phụ thuộc vào thoả thuận với phụ huynh và học sinh. Gia sư sư part time thường dạy 6 – 8 tiếng trong tuần. Mức lương công việc này dao động từ 100.000 – 200.000 đồng/giờ. </p>
        <h1>2. Cộng tác viên làm đồ thủ công</h1>
            <p>Nhiều công ty kinh doanh đồ handmade, phụ kiện tuyển nhân viên part time làm đồ thủ công. Bạn phải khéo tay, tỉ mỉ và cẩn thận để hoàn thành sản phẩm theo yêu cầu. Mức lương của công việc này phụ thuộc vào năng suất làm việc, dao động từ 1 – 2 triệu đồng/tháng.</p>
        <h1>3. Tài xế công nghệ</h1>
            <p>Hiện nay, nhiều hãng xe công nghệ như Grab, Gojek, Be, Xanh SM,… hoặc các nền tảng thương mại điện tử như Shopee, Lazada, Tiki,… tuyển tài xế part time chuyên chở khách hoặc giao hàng. Thời gian làm việc linh hoạt, mức lương tài xế công nghệ dao động từ 8000 – 10000 đồng/km, tuỳ vào nền tảng xe công nghệ. </p>
        <h1>4. Nhân viên bán hàng part time</h1>
            <p>Nhân viên bán hàng là người có trách nhiệm đón tiếp, gợi ý, tư vấn các sản phẩm/dịch vụ phù hợp với nhu cầu của khách hàng. Họ còn sắp xếp, trưng bày và bảo quản hàng hoá cũng như giải đáp các thắc mắc của khách hàng.</p>
            <p>Thời gian làm việc từ 4 – 5 tiếng/ca, đa số lịch làm việc bao gồm các ngày cuối tuần và ngày lễ, Tết. Mức lương nhân viên bán hàng part time dao động từ 20.000 – 30.000 đồng/giờ. </p>
        <h1>5. Nhân viên phục vụ part time</h1>
            <p>Nhân viên phục vụ thường làm việc tại các quán cà phê, nhà hàng, quán ăn,… Công việc chính của nhân viên phục vụ part time là đón tiếp, order món và cung cấp đồ ăn/thức uống theo yêu cầu của khách hàng.</p>
            <p>Thời gian làm việc từ 4 – 5 tiếng/ca, đa số lịch làm việc bao gồm các ngày cuối tuần và ngày lễ, Tết. Mức lương nhân viên phục vụ part time từ 20.000 – 30.000 đồng/giờ. </p>
        <h1>6. Nhân viên nhập liệu part time</h1>
            <p>Công việc của nhân viên nhập liệu hay nhân viên đánh máy part time là nhập liệu, rà soát lỗi sai, xác minh, cập nhật và chỉnh sửa dữ liệu. Công việc này khá đơn giản, bạn chỉ cần cẩn thận, tỉ mỉ nhập liệu chính xác.

Mức lương nhân viên nhập liệu part time dao động từ 1 – 4 triệu đồng/tháng. </p>
        <h1>7. Cộng tác viên viết bài</h1>
            <p>Công việc của cộng tác viên viết bài là viết lách theo yêu cầu như bài SEO, bài PR cho báo, bài viết social,… Đây là công việc part time được nhiều bạn trẻ ưa chuộng, mang lại nguồn thu nhập tương đối ổn định. Mức lương cộng tác viên viết bài dao động từ 50.000 – 500.000 đồng/bài viết. </p>
        <h1>8. Cộng tác viên thiết kế</h1>
            <p>Đây là công việc part time tuyệt vời cho những ai có khả năng sử dụng thành thạo các phần mềm thiết kế. Dựa theo yêu cầu của công ty tuyển dụng, các bạn có thể thiết kế banner, poster quảng cáo, hình ảnh trên các trang social,… Mức lương cộng tác viên thiết kế dao động từ 50.000 – 400.000 đồng/sản phẩm.</p>
        <h1>9. Nhân viên trực page</h1>
            <p>Công việc của nhân viên trực page theo dõi và quản lý các hoạt động trên mạng xã hội của công ty hoặc cửa hàng. Cụ thể thì nhân viên trực page là người tư vấn, báo giá, chốt đơn hàng, kiểm soát phản hồi,… khi có khách nhắn tin cho fanpage.</p>
            <p>Thời gian làm việc của nhân viên trực page part time từ 4 – 5 tiếng/ngày, mức lương dao động từ 2 – 4 triệu đồng/tháng. </p>
        <h1>10. Nhân viên telesales part time</h1>
            <p>Nhân viên telesales hay nhân viên chăm sóc khách hàng là công việc part time được nhiều bạn sinh viên ưa chuộng. Công việc chủ yếu là trực tổng đài, giải đáp thắc mắc, khiếu nại và tư vấn sản phẩm/dịch vụ. Một số công việc còn yêu cầu nhân viên telesales chào bán sản phẩm/dịch vụ theo data được cung cấp. Mức lương dao động từ 2 – 4 triệu đồng, kèm hoa hồng nếu có.</p>
        <h1>11. Nhân viên bảo vệ part time</h1>
            <p>Nhân viên bảo vệ là công việc phù hợp với phái nam, công việc này chủ yếu là quản lý, giám sát tình hình an ninh và trông coi tài sản tại công ty hoặc nhà hàng, quán ăn, cửa hàng,… Thời gian làm việc theo ca,. Công việc này thường phải làm vào cuối tuần và ngày lễ, tết. Mức lương của nhân viên bảo vệ part time dao động từ 3 – 5 triệu đồng/tháng. </p>
</section>


    <footer>
      <section class="footer-container">
        <section class="About-me">
          <h2>Về chúng tôi</h2>
          <p>Top-cv - Website tuyển dụng việt làm</p>
          <p>TopCV là nền tảng tuyển dụng hàng đầu tại Việt Nam, giúp kết nối ứng viên với nhà tuyển dụng một cách nhanh chóng và hiệu quả.</p>
          <p>Chúng tôi cung cấp dịch vụ tạo CV chuyên nghiệp, giúp ứng viên nổi bật trong mắt nhà tuyển dụng.</p>
        </section>
        <section class="Infor">
          <h2>Thông tin</h2>
          <p>Cẩm nang nghề nghiệp</p>
          <p>Điều khoản dịch vụ</p>
          <p>Quy định bảo mật</p>
          <p>Sơ đồ trang web</p>
          <p>Chính sách dữ liệu cá nhân</p>

        </section>
          <section class="Contact">
              <h2>Liên hệ</h2>
              <p>Email:top-cv@gmail.com</p>
              <p>Điện thoại: 0989742927</p>
          </section>
      </section>
        <p class="topcv">&copy; 2025 TopCV. All rights reserved.</p>
    </footer>

    <script src="/js/slideshow.js"></script> 
</body>
</html>